@page "/img-resizing"
@using MovieAppData
@using MovieAppData1
@using Financial

<div class="row-layout img-resizing-container">
    <div class="column-layout group">
        <div class="column-layout logo">
            <img src="assets/skillz-logo.svg" class="image" />
            <img src="assets/skillz-logo-text.svg" class="image_1" />
        </div>
        <div class="column-layout group_1">
            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" img-resizing-scope>
                <span class="material-icons">
                    dashboard
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
            <p class="typography__overline text">
                Main
            </p>
        </div>
        <div class="column-layout group_1">
            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" img-resizing-scope>
                <span class="material-icons">
                    school
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
            <p class="typography__overline text">
                Courses
            </p>
        </div>
        <div class="column-layout group_1">
            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" img-resizing-scope>
                <span class="material-icons">
                    assignment_turned_in
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
            <p class="typography__overline text">
                Tasks
            </p>
        </div>
        <div class="column-layout group_1">
            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" img-resizing-scope>
                <span class="material-icons">
                    assessment
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
            <p class="typography__overline text">
                Progress
            </p>
        </div>
        <div class="column-layout group_1">
            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" img-resizing-scope>
                <span class="material-icons">
                    person
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
            <p class="typography__overline text">
                Profile
            </p>
        </div>
    </div>
    <div class="column-layout group">
        <div class="column-layout logo-1">
            <img src="assets/skillz-logo.svg" class="image_2" />
            <img src="assets/skillz-logo-text.svg" class="image_1" />
        </div>
        <div class="column-layout group_1">
            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" img-resizing-scope>
                <span class="material-icons">
                    dashboard
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
            <p class="typography__overline text">
                Main
            </p>
        </div>
        <div class="column-layout group_1">
            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" img-resizing-scope>
                <span class="material-icons">
                    school
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
            <p class="typography__overline text">
                Courses
            </p>
        </div>
        <div class="column-layout group_1">
            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" img-resizing-scope>
                <span class="material-icons">
                    assignment_turned_in
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
            <p class="typography__overline text">
                Tasks
            </p>
        </div>
        <div class="column-layout group_1">
            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" img-resizing-scope>
                <span class="material-icons">
                    assessment
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
            <p class="typography__overline text">
                Progress
            </p>
        </div>
        <div class="column-layout group_1">
            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" img-resizing-scope>
                <span class="material-icons">
                    person
                </span>
                <IgbRipple></IgbRipple>
            </IgbIconButton>
            <p class="typography__overline text">
                Profile
            </p>
        </div>
    </div>
    <div class="column-layout group_2">
        <IgbList class="list" img-resizing-scope>
            <IgbListItem>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar13.png" Size="SizableComponentSize.Medium" Shape="AvatarShape.Circle" class="avatar" img-resizing-scope></IgbAvatar>
                </div>
                <div slot="title">Jane Doe</div>
                <div slot="subtitle">Sales Manager</div>
                <div slot="end">
                    <span class="material-icons icon">
                        keyboard_arrow_down
                    </span>
                </div>
            </IgbListItem>
            <IgbListItem>
                <div slot="start">
                    <IgbAvatar Src="assets/Store_Icon_Small.svg" class="avatar avatar_1" img-resizing-scope></IgbAvatar>
                </div>
                <div slot="title">Dashboard</div>
            </IgbListItem>
            <IgbListItem>
                <div slot="start">
                    <IgbAvatar Src="assets/Inventory_Icon_Small.svg" class="avatar avatar_2" img-resizing-scope></IgbAvatar>
                </div>
                <div slot="title">Products</div>
            </IgbListItem>
            <IgbListItem>
                <div slot="start">
                    <IgbAvatar Src="assets/Orders_Icon_Small.svg" class="avatar avatar_3" img-resizing-scope></IgbAvatar>
                </div>
                <div slot="title">Orders</div>
            </IgbListItem>
            <IgbListItem>
                <div slot="start">
                    <IgbAvatar Src="assets/Customers_Icon_Small.svg" class="avatar avatar_4" img-resizing-scope></IgbAvatar>
                </div>
                <div slot="title">Customers</div>
            </IgbListItem>
            <IgbListItem>
                <div slot="start">
                    <IgbAvatar Src="assets/Reports_Icon_Small.svg" class="avatar avatar_5" img-resizing-scope></IgbAvatar>
                </div>
                <div slot="title">Reports</div>
            </IgbListItem>
        </IgbList>
        <div class="column-layout group_3">
            <img src="assets/invmgmt_logo.svg" class="image_3" />
        </div>
    </div>
    <div class="column-layout group_2">
        <IgbList class="list" img-resizing-scope>
            <IgbListItem>
                <div slot="start">
                    <IgbAvatar Src="assets/Avatar13.png" Size="SizableComponentSize.Medium" Shape="AvatarShape.Circle" class="avatar" img-resizing-scope></IgbAvatar>
                </div>
                <div slot="title">Jane Doe</div>
                <div slot="subtitle">Sales Manager</div>
                <div slot="end">
                    <span class="material-icons icon">
                        keyboard_arrow_down
                    </span>
                </div>
            </IgbListItem>
            <IgbListItem>
                <div slot="start">
                    <IgbAvatar Src="assets/Store_Icon_Small.svg" class="avatar avatar_6" img-resizing-scope></IgbAvatar>
                </div>
                <div slot="title">Dashboard</div>
            </IgbListItem>
            <IgbListItem>
                <div slot="start">
                    <IgbAvatar Src="assets/Inventory_Icon_Small.svg" class="avatar avatar_7" img-resizing-scope></IgbAvatar>
                </div>
                <div slot="title">Products</div>
            </IgbListItem>
            <IgbListItem>
                <div slot="start">
                    <IgbAvatar Src="assets/Orders_Icon_Small.svg" class="avatar avatar_8" img-resizing-scope></IgbAvatar>
                </div>
                <div slot="title">Orders</div>
            </IgbListItem>
            <IgbListItem>
                <div slot="start">
                    <IgbAvatar Src="assets/Customers_Icon_Small.svg" class="avatar avatar_9" img-resizing-scope></IgbAvatar>
                </div>
                <div slot="title">Customers</div>
            </IgbListItem>
            <IgbListItem>
                <div slot="start">
                    <IgbAvatar Src="assets/Reports_Icon_Small.svg" class="avatar avatar_10" img-resizing-scope></IgbAvatar>
                </div>
                <div slot="title">Reports</div>
            </IgbListItem>
        </IgbList>
        <div class="column-layout group_3">
            <img src="assets/invmgmt_logo.svg" class="image_4" />
        </div>
    </div>
</div>

@code {
}
