@page "/"

<div class="column-layout master-view-container">
    <div class="row-layout group">
        <IgbButton class="button" master-view-scope>
            TEXT
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" class="button" master-view-scope>
            <span class="material-icons">
                add
            </span>
            <span>TEXT</span>
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Flat" class="button" master-view-scope>
            TEXT
            <IgbRipple></IgbRipple>
        </IgbButton>
    </div>
    <div class="row-layout group">
        <IgbButton class="button" master-view-scope>
            Button Text
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Outlined" class="button" master-view-scope>
            <span class="material-icons">
                add
            </span>
            <span>Button Text</span>
            <IgbRipple></IgbRipple>
        </IgbButton>
        <IgbButton Variant="ButtonVariant.Flat" class="button" master-view-scope>
            Button Text
            <IgbRipple></IgbRipple>
        </IgbButton>
    </div>
</div>

@code {
}
